<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-4" style="background-image: url('/files/hero.jpg')">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ site.title | default: site.github.repository_name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team.html">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/work.html">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/howto.html">How-to</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reading.html">Reading List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ site.description | default: site.github.project_tagline }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>