<nav class="navbar navbar-expand-lg navbar-static-top navbar-light bg-light" style="width: 100%; border-bottom: #3c5d5d">
    <div class="container">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item px-3">
                <a class="nav-link" href="/people.html" style="color: #6f42c1; font-weight: 1000"><em>PEOPLE</em></a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/platforms.html" style="color: limegreen; font-weight: 1000"><em>PLATFORMS</em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" href="/policy.html" style="color: blue; font-weight: 1000"><em>POLICY</em></a>
            </li>
        </ul>
    </div>
</nav>
<hr>